.main-chat
  .group-info
    .main-header
      .info-menu
        = @group.name
      .menu-group
        Member:
        - @group.users.each do |user|
          = user.name
    .edit-box
      .edit-bar
        .edit-icon
          .edit-command
            .edit-command__button
              = link_to edit_group_path(@group.id), class:"button__btn" do
                %p.command__btn
                  Edit
  .message-list
    = render @messages

  .message-form
    = form_for [@group, @message] do |f|
      .message__text
        = f.text_field :content, class: 'message__text__text', placeholder: 'type a message'
        = f.label :image, class: 'message__text__post' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input'
      = f.submit 'Send', class: 'send-point'

      -#   .post-text
      -#     %input{type: "text", placeholder: "type a message", class: "post-text__text"}
      -#   .post-image
      -#     %label{class: "input-box__image"}
      -#       = icon('far', 'image')
      -#       %input{type: "file",class: "post-image__file"}

      -# .post-send
      -#   %input{type: "submit",class: "send__point"}
      -#   = f.submit 'Send', class: 'send__point'