.main-chat
  .group-info
    .main-header
      .info-menu
        techcamp
      .menu-group
        Member :
    .edit-box
      .edit-bar
        .edit-icon
          .edit-command
            .edit-command__button
              =link_to "#", class:"button__btn" do
                %p.command__btn
                  Edit
  .message-list
    .center-chat
      .tweet
        .tweet-tag
          .tweet-name
            mitsu
          .tweet-time
            2020/05/09 23:36:54
      .text
        .message-text
          .text-box
            おはよ！
    .center-chat
      .tweet
        .tweet-tag
          .tweet-name
            mitsu
          .tweet-time
            2020/05/09 23:36:54
      .text
        .message-text
          .text-box
            おはよ！
  .message-form
    .post
      .post-input
        .post-text
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'post-text__text', placeholder: 'type a message'
          .post-image
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'post-image__file'
        = f.submit 'Send', class: 'send__point__point'
          -# %input{type: "submit", class: 'submit-btn', value: "Send"}
