.main-chat
  .group-info
    .main-header
      .info-menu
        = @group.name
      .menu-group
        Member:
        - @group.users.each do |user|
          = user.name
    .edit-box
      .edit-bar
        .edit-icon
          .edit-command
            .edit-command__button
              = link_to edit_group_path(@group.id), class:"button__btn" do
                %p.command__btn
                  Edit
  .message-list
    .center-chat
      .tweet
        .tweet-tag
          .tweet-name
            = message.user.name
          .tweet-time
            = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .text
        .message-text
          .text-box
            - if message.content.present?
              = message.content
                = image_tag message.image.url, class: 'text-box' if message.image.present?
  .message-form
    .post
      .post-input
        .post-text
          %input{type: "text", placeholder: "type a message", class: "post-text__text"}
        .post-image
          %label{class: "input-box__image"}
            = icon('far', 'image')
            %input{type: "file",class: "post-image__file"}
      .post-send
        = f.submit 'Send', class: 'send__point'